body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #23272f;
  color: white;

  /* importing font settings from index.css, to remove the file */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body::before {
  content: '';  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./img/bg.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  z-index: -2;  
}

body::after{
  content: '';
  position: absolute;
  top: 50%;  
  left: 50%; 
  width: 90%;  
  height: 70%; 
  background-image: url("./img/snake.png"); 
   background-size: contain;  
  background-position: center;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
  z-index: -1; 
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;
    text-align: center; 
    width: 100%;
    height: 100vh;
    gap: 5rem;
    position: relative;

}

h1 {
  font-size: 8.5vw;     
  text-align: center;   
  letter-spacing: 8px;    
  color: rgba(106, 194, 52, 0.982); 
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  -webkit-text-stroke: #395c36 7px;
  margin-top: -0.6rem;
  position: relative;
}

.game-container {
  position: absolute;
  top: 51%;
  left: 52%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 70%;
}

.board {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  cursor: pointer;
  position: relative;
}

.tile {
  color: brown;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-border {
  border-right: 0.2em solid green;
}

.bottom-border {
  border-bottom: 0.2em solid green;
}

.strike {
  position: absolute;
  background-color: black;
}

.strike-row-1 {
  width: 100%;
  height: 7px;
  top: 15%;
}
.strike-row-2 {
  width: 100%;
  height: 7px;
  top: 48%;
}
.strike-row-3 {
  width: 100%;
  height: 7px;
  top: 83%;
}
.strike-column-1 {
  height: 100%;
  width: 7px;
  left: 15%;
}
.strike-column-2 {
  height: 100%;
  width: 7px;
  left: 48%;
}
.strike-column-3 {
  height: 100%;
  width: 7px;
  left: 83%;
}
.strike-diagonal-1 {
  width: 90%;
  height: 7px;
  top: 50%;
  left: 5%;
  transform: skewY(45deg);
}
.strike-diagonal-2 {
  width: 90%;
  height: 7px;
  top: 50%;
  left: 5%;
  transform: skewY(-45deg);
}

@keyframes slowFade {
  from { 
    opacity: 0; 
    transform: translate(-50%, 0) scale(0.5); 
  }
  to { 
    opacity: 1; 
    transform: translate(-50%, 0) scale(1);
  }
}

.game-over {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%); 
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 3em;
  padding: 15px 30px;
  border-radius: 20px;
  text-align: center;
  animation: slowFade 1.5s ease-out;
  border: 4px solid gold;
  box-shadow: 0 0 20px gold;
  width: max-content; 
  white-space: nowrap;
}

.reset-button {
  position: absolute;
  bottom: -60px;
  left: 48%;
  transform: translateX(-50%); 
  
  cursor: pointer;
  padding: 12px;
  background-color: rgb(119, 130, 9);
  border-radius: 12px;
  color: white;
  width: 45%;
  font-size: 1.8em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  align-self: center;
}

.reset-button:hover {
  background-color: darkgreen;
}

.reset-button:active {
  transform: translate(-50%, 2px) scale(0.98);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
.mode-selection {
  position: absolute;
  top: 380px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  z-index: 10; 
}

.mode-selection button {
  padding: 12px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3498db;
  color: white;
  transition: 0.3s;
}

.mode-selection button:hover {
  background-color: #2980b9;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.modal {
  background: rgb(40, 144, 40);
  padding:12px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 90%;
  z-index: 5;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.button-group button {
  padding: 15px 30px;
  font-size: 1.2em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.button-group button:hover {
  background-color: rgb(175, 226, 121);
}

.turn-info {
  font-style: italic;
  font-size: 1em;
  color: #333;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}

.credit {
  position: absolute;
  bottom: 10px;
  right: -60%;
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.5);
}

a{
  color: rgba(255, 255, 255, 0.5);
}